<header>
  <div class="nav">
    <p><a href = "http://localhost:3000/muscles">Home</a> |
      <a href = "/exercises">All Exercises</a> |
      <a href ="/arms">Arms Exercise</a> |
      <a href ="/shoulders">Shoulders Exercise</a> |
      <a href ="/legs">Legs Exercise</a> |
      <a href ="/chest">Chest Exercise</a> |
      <a href ="/back">Back Exercise</a>
    </p>
  </div>
</header>

<h1>Arm Exercises</h1>

<ul>
  <% @arms.each do |arm| %>
    <% if arm.muscle.id == 1 %>
      <h2><%=arm.name %></h2>
      <img src=<%= arm.image%> />
      <p>Description: <%=arm.description%></p> 
      <p>Sets: <%=arm.sets%></p> 
      <p>Reps: <%=arm.reps%></p>
      <p>Muscle Group: <%=arm.muscle.name%></p>
   <% end %>
  <% end %>
</ul>