<header>
  <div class="nav">
    <p><a href = "http://localhost:3000/muscles">Home</a> |
      <a href = "/exercises">All Exercises</a> |
      <a href ="">Arms Exercise</a> |
      <a href ="">Shoulders Exercise</a> |
      <a href ="">Legs Exercise</a> |
      <a href ="">Chest Exercise</a> |
      <a href ="">Back Exercise</a>
    </p>
  </div>
</header>

<h1>Exercise List</h1>

<ul>
  <% @legs.each do |leg| %>
    <% if leg.muscle.id == 5 %>
      <h2><%=leg.name %></h2>
      <img src=<%= leg.image%> />
      <p>Description: <%=leg.description%></p> 
      <p>Sets: <%=leg.sets%></p> 
      <p>Reps: <%=leg.reps%></p>
      <p>Muscle Group: <%=leg.muscle.name%></p>
   <% end %>
  <% end %>
</ul>