<header>
  <div class="nav">
    <p><a href = "http://localhost:3000/muscles">Home</a> |
      <a href = "/exercises">All Exercises</a> |
      <a href ="/arms">Arms Exercise</a> |
      <a href ="/shoulders">Shoulders Exercise</a> |
      <a href ="/legs">Legs Exercise</a> |
      <a href ="/chest">Chest Exercise</a> |
      <a href ="/back">Back Exercise</a>
    </p>
  </div>
</header>

<h1>Shoulder Exercise</h1>

<ul>
  <% @shoulders.each do |shoulder| %>
    <% if shoulder.muscle.id == 3 %>
      <h2><%=shoulder.name %></h2>
      <img src=<%= shoulder.image%> />
      <p>Description: <%=shoulder.description%></p> 
      <p>Sets: <%=shoulder.sets%></p> 
      <p>Reps: <%=shoulder.reps%></p>
      <p>Muscle Group: <%=shoulder.muscle.name%></p>
   <% end %>
  <% end %>
</ul>