<header>
  <div class="nav">
    <p><a href = "http://localhost:3000/muscles">Home</a> |
      <a href = "/exercises">All Exercises</a> |
      <a href ="/arms">Arms Exercise</a> |
      <a href ="/shoulders">Shoulders Exercise</a> |
      <a href ="/legs">Legs Exercise</a> |
      <a href ="/chest">Chest Exercise</a> |
      <a href ="/back">Back Exercise</a>
    </p>
  </div>
</header>

<h1>Create Exercise: </h1>
  <div>
    <form>
      <p>Name: <input type="text"/></p>
      <p>Image: <input type="text"/></p>
      <p>Description: <input type="text"/></p>
      <p>Sets: <input type="text"/></p>
      <p>Reps: <input type="text"/></p>
      <p>Muscle ID (1-5): <input type="text"/></p>
      <button type="submit" >Create Exercise</button>
    </form>
  </div>
<h1>Exercise List</h1>

<ul>
  <% @exercises.each do |exercise| %>
    <h2><%=exercise.name %></h2>
    <img src=<%= exercise.image%> />
    <p>Description: <%=exercise.description%></p> 
    <p>Sets: <%=exercise.sets%></p> 
    <p>Reps: <%=exercise.reps%></p>
    <p>Muscle Group: <%=exercise.muscle.name%></p>
  <% end %>
</ul>